.slick-prev:before,
.slick-next:before
{
    font-size: 20px;  
    color: rgb(216, 216, 216);
}

.slick-prev
{
    left: 0px;
    z-index: 5;
}

.slick-next
{
    right: 0px;
    z-index: 5;
} 


.container{
    width: 100%;
    object-fit: cover;
    position: relative;
}

.slick-slide img{
    object-fit: cover;
    height: 350px;
    width: 100%;
}

.slider-info{
    position: absolute;
    bottom: 1.5rem;
    background-color: rgb(9 9 11 / 0.5);
    width: 100%;
}

.slick-dots{
    bottom: 7px;
    z-index: 5;
}

.slick-dots li button:before {
    color: rgb(255, 255, 255);
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: rgb(0, 0, 0);
}